/*---------------подключение шрифтов----------------*/

@font-face {
    font-family: 'Mason Chronicles';
    src: url('../fonts/MasonChronicles/MasonChronicles.eot');
    src: url('../fonts/MasonChronicles/MasonChronicles.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MasonChronicles/MasonChronicles.woff2') format('woff2'),
        url('../fonts/MasonChronicles/MasonChronicles.woff') format('woff'),
        url('../fonts/MasonChronicles/MasonChronicles.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PTSansNarrow/PTSans-Narrow.eot');
    src: url('../fonts/PTSansNarrow/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSansNarrow/PTSans-Narrow.woff2') format('woff2'),
        url('../fonts/PTSansNarrow/PTSans-Narrow.woff') format('woff'),
        url('../fonts/PTSansNarrow/PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, input {
    font-family: 'Mason Chronicles'; 
}

p, a , span{
     font-family: 'PT Sans Narrow';
     word-spacing: 2px;
}

/*-------------------wrapper style--------------------------*/

.wrapper-game{
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.container-column{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
}
.wrapper-column{
    width: 32%;
}
.wrapper-left-column{
    width: 29%;
    position: relative;
    right: -20px
}
.profit-wrapper{
    background: url("../images/bg-1.png")no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 18px;
}
.profit-container-right-block img{
    max-width: 330px;
    width: 100%;
}
.profit-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.list-profit{
    display: flex;
    align-items: center;
    align-items: flex-start;
}
.title-item,
.title-rating{
     font-size: 21px;
     color: #f4c66f;
     text-shadow: 0px 0px 0 rgb(195,172,136),
     1px 1px  0 rgb(143,120,84),
     2px 2px 1px rgba(110,77,30,0.36),
     2px 2px 1px rgba(110,77,30,0.5),
     0px 0px 1px rgba(110,77,30,.2);
    margin-bottom: 10px;
}
.item-profit{
    margin: 5px;
}
.header-title-item{
    text-align: center;
    margin-bottom: 15px;
}
.header-title-item span{
    color: #f4eade;
    font-size: 16px;
    word-spacing: 2px;
}
.btn{
    font-size: 18px;
    font-family: 'Mason Chronicles';
    color: #f4c66f;
    text-shadow: 0px 0px 0 rgb(195,172,136),
    1px 1px  0 rgb(143,120,84),
    2px 2px 1px rgba(110,77,30,0.36),
    2px 2px 1px rgba(110,77,30,0.5),
    0px 0px 1px rgba(110,77,30,.2);
    border: none;
}
.btn-profit{
    background: url("../images/dark-bg-btn.png")no-repeat;
    background-size: contain;
    height: 36px;
    width: 123px;
}
.btn-profit:hover{
    background: url("../images/bg-btn.png")no-repeat;
    background-size: contain;
}
.input-profit{
    max-width: 105px;
    margin-top: 7px;
}
.title-rating{
    margin-bottom: 0;
}
.input{
    background: url("../images/input-bg.png")no-repeat;
    background-size: 100% 100%;
    color: #efede0;
    font-size: 18px;
    border: none;
    padding: 7px;
    text-align: center;
}
.wrapper-btn-profit{
    text-align: center;
}
.scale-list{
    display: flex;
    align-items: center;
    position: relative;
}
.scale-list::before{
    content: '';
    position: absolute;
    top: -5px;
    background: url("../images/line-bg.png")repeat-x;
    height: 5px;
    left: 0;
    right: 0;
}
.scale-list::after{
    content: '';
    position: absolute;
    bottom: -5px;
    background: url("../images/line-bg.png")repeat-x;
    height: 5px;
    left: 0;
    right: 0;
}
.scale-item span{
    color: #ffffff;
    font-family: 'Mason Chronicles';
    font-size: 18px;
}
.scale-item{
    padding: 6px 8px;
    border-left: 2px solid #e3d294;
}
.rating-profit{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrapper-rating-container{
    position: relative;
}
.wrapper-rating-container::after{
    content: '';
    position: absolute;
    right: -16px;
    top: -8px;
    bottom: 0;
    background: url("../images/venzel.png")no-repeat;
    width: 34px;
    height: 50px;
    background-size: contain;
}
.draggable-container{
    position: relative;
}
.cursor-draggable{
    position: absolute;
    background: url("../images/slider-icon.png")no-repeat;
    background-size: contain;
    width: 24px;
    height: 20px;
    top: -12px;
    z-index: 10;

}

/*-----------------block potions-------------*/

.potion-wrapper{
    background: url("../images/bg-2.png")no-repeat;
    background-size: cover;
}
.potion-butl{
    max-width: 143px;
    height: 120px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.potion-butl img{
    max-width: 146px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

}
.potion-container{
    padding: 8px;
}
.item-potion{
    max-width: 143px;
    width: 100%;
}
.not-active-butl .active-butl{
    display: none;
}
.not-active-butl{
    position: relative;
}
.not-active-butl:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
.potion-list{
    display: flex;
}
.top-potion-variant{
    position: relative;
}
.top-potion-variant::after{
    content: '';
    position: absolute;
    background: url("../images/border-potion-container.png")repeat-x;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 7px;
}
.active-butl-frame{
    position: absolute;
    left: 114px;
    right: -8px;
    top: -9px;
    bottom: -9px;
    background: url("../images/frame-slider.png")no-repeat;
    background-size: contain;
    max-width: 150px;
    z-index: 100;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
.item-potion{
    position: relative;
}
.suma{
    position: absolute;
    top: 5px;
    right: 23px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 3px;
    width: fit-content;
    border-radius: 5px;
}
.suma-potion{
    font-size: 18px;
    font-family: 'Mason Chronicles';
    color: #f2f0e0;
}
.container-potion img{
    max-width: 180px;
    width: 100%;
}
.container-potion{
    max-width: 200px;
    width: 100%;
}
.about-potion{
    display: flex;
    align-items: center;
}
.name-potion,
.title-item-info{
    color: #690016;
    font-family: 'Mason Chronicles';
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
}
.info-text-potion{
    margin-bottom: 10px;
    max-width: 90%;
}
.item-info{
    display: flex;
    align-items: center;
}
.time-porion,
.price-porion,
.info-text-potion{
    font-size: 18px;
    font-weight: 600;
}
.wrapper-list-about-potion{
    padding: 10px;
}

/*---------------block actions-----------*/

.actions-wrapper{
    background: url("../images/bg-3.png")no-repeat;
    background-size: cover;
    padding: 10px;
}
.first-title-action,
.first-title-action span,
.title-action{
    font-size: 26px;
    font-family: 'Mason Chronicles';
    color: #f4c66f;
    text-shadow: 0px 0px 0 rgb(195,172,136), 1px 1px 0 rgb(143,120,84), 2px 2px 1px rgba(110,77,30,0.36), 2px 2px 1px rgba(110,77,30,0.5), 0px 0px 1px rgba(110,77,30,.2);
    text-align: center;
}
.title-action{
    text-transform: uppercase;
    position: relative;
    padding: 0 120px;
}
.title-action::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: rotate(180deg) translateY(-50%);
}
.title-action::before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: translateY(-50%);
}
.first-title-action .result-action,
.first-title-action .result-action span{
    font-size: 20px;
}
.wrapper-first-title{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: fit-content;
    padding: 0 32px;
    margin-bottom: 10px;
}
.information-btn{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: url("../images/info-icon.png")no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;
}

.header-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-item-action{
    position: relative;
    width: fit-content;
    padding-right: 30px;
}
.title-counter{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px;
}
.counter-input{
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border: none;
    padding: 3px;
    width: 67%;
    display: flex;
}
.number-counter{
    background: url("../images/input-bg.png")no-repeat;
    width: 98px;
    height: 35px;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 3px;
}
.btn-counter{
    width: 20px;
    height: 17px;
    display: block;
    cursor: pointer;
}
.plus{
    background: url("../images/input-btn-1.png")no-repeat;
    transform: rotate(180deg);
    background-size: contain;
}
.minus{
    background: url("../images/input-btn-1.png")no-repeat;
    background-size: contain;
}
.plus:focus,
.plus:hover,
.plus:active{
    background: url("../images/input-btn-2.png")no-repeat;
    background-size: contain;
    transform: rotate(0deg);
}
.minus:focus,
.minus:hover,
.minus:active{
    background: url("../images/input-btn-2.png")no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}
.money-span,
.money-span span{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Mason Chronicles';
    margin-top: 5px;
}
.money-span span{
    font-size: 16px;
}
.item-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 8px 19px;
}
.list-action{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.btn-action{
    width: 123px;
    height: 36px;
    background: url(../images/dark-bg-btn.png)no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.86);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.86);
    margin: 0 10px;
}
.btn-action:hover{
    background: url("../images/bg-btn.png")no-repeat;
    background-size: contain;
}
.container-btn-action{
    display: flex;
    justify-content: center;
}
.footer-action p{
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
}
.footer-action{
    max-width: 81%;
    margin: 0 auto;
    margin-top: 10px;
}

/*------------------center block---------------*/

.container-center-column{
    position: relative;
    height: 100%;
}
.container-center-column::before{
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 7px;
    background: url("../images/left-right-center-line.png")repeat-y;
    transform: rotateY(180deg);
}
.container-center-column::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    width: 7px;
    background: url("../images/left-right-center-line.png")repeat-y;
}
.wrapper-center-column{
    position: relative;
}
.wrapper-center-column::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    top: 0;
    background: url("../images/center-bg.png")no-repeat;
    background-size: cover;
}
.wrapper-center-column::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 7px;
    left: 20px;
    right: 20px;
    background: url("../images/line-bg.png")repeat-x;
}
.header-center-block{
    align-items: center;
    background: url("../images/top-center-header.png")no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 25px;
    top: -25px;

}
.first-title-center,
.first-title-center span,
.next-title-center,
.next-title-center span,
.next-title-center span span{
    color: #ffff;
    font-size: 26px;
    font-family: 'Mason Chronicles';
}
.first-title-center{
    margin-right: 10px;
    display: flex;
}
.next-title-center{
    display: flex;
}
.name-player,
.balance{
    white-space: nowrap;
    max-width: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-left: 10px;
}
.balance{
    max-width: 65px;
    margin-right: 10px;
}
.center-hero{
    max-width: 560px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: -10px;
    z-index: 100000;
}
.center-hero::after{
    content: '';
    position: absolute;
    left: -28px;
    right: -28px;
    top: -34px;
    bottom: -28px;
    background: url("../images/center-around.png")no-repeat;
    background-size: contain;
}
.center-hero img{
    width: 100%;
    flex: none;
    margin: 0 auto;
}
.container-image-hero{
    border-radius: 100%;
    overflow: hidden;
}
.wrapper-bottle-info{
    position: relative;
    border-radius: 100%;
    background: url("../images/big-round.png")no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-bottle-img{
    margin: 0 auto;
    position: relative;
}
.container-bottle-img img{
    width: 100%;
    max-width: 55px;
}
.percent{
    color: #ffffff;
    font-family: 'Mason Chronicles';
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}
.bottle-2 img{
    max-width: 62px;
}
.bottle-lis-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.container-center-round{
    position: relative;
}
.container-top-bottle{
    position: absolute;
    top: 0;
    z-index: 100000;
    left: 0;
    right: 0;
}
.bottle-item{
    cursor: pointer;
}
.bottle-position-1{
    position: absolute;
    top: 12px;
    left: 57px;
}
.bottle-position-2{
    position: absolute;
    left: 158px;
    top: -50px;
}
.bottle-position-3{
    position: absolute;
    right: 165px;
    top: -50px;
}
.bottle-position-4{
    position: absolute;
    right: 66px;
    top: 12px;
}
.btn-center{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: none;
}
.settings{
    background: url("../images/settings.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 165px;
    left: 0;
}
.poems{
    background: url("../images/poems.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 165px;
    right: 0;
}
.settings:hover,
.settings:active,
.settings:focus{
    background: url("../images/settings-click.png")no-repeat;
    background-size: contain;
}
.poems:hover,
.poems:active,
.poems:focus{
    background: url("../images/poems-click.png")no-repeat;
    background-size: contain;
}
.container-btn-center{
    position: absolute;
    top: 0;
    z-index: 100000;
    width: 100%;
}
.social-link{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: url("../images/bg-icon-soc.png")no-repeat;
    background-size: contain;
    position: relative;
}
.twitter::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/twitter.png")no-repeat;
    background-size: 60%;
    background-position: center;
}
.telegram::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/telegram.png")no-repeat;
    background-size: 50%;
    background-position: center;
}
.horn::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/telegram-chat.png")no-repeat;
    background-size: 50%;
    background-position: center;
}
.discord::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/discord.png")no-repeat;
    background-size: 54%;
    background-position: center;
}
.facebook::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/facebook.png")no-repeat;
    background-size: 35%;
    background-position: center;
}
.social-list{
    display: flex;
    align-items: center;
}
.container-social{
    position: absolute;
    bottom: 0;
    z-index: 100000;
    width: 100%;
}
.social-position-1{
    position: absolute;
    left: 102px;
    bottom: 42px;
}
.social-position-2{
    position: absolute;
    left: 172px;
    bottom: 3px;
}
.social-position-3{
    position: absolute;
    left: 261px;
    bottom: -12px;
}
.social-position-4{
    position: absolute;
    right: 175px;
    bottom: 5px;
}
.social-position-5{
    position: absolute;
    right: 109px;
    bottom: 45px;
}
.list-awards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}
.item-awards{
    margin: 10px;
}
.item-awards img{
    width: 70px;
}
.wrapper-awards{
    padding: 32px 15px 15px;
    position: relative;
    z-index: 10;
    top: -12px;
}
.wrapper-awards::after{
    content: '';
    position: absolute;
    top: 0;
    height: 7px;
    left: 20px;
    right: 20px;
    background: url("../images/line-bg.png")repeat-x;
}
.header-awards{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 120px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
}
.header-awards::before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: translateY(-50%);
}
.header-awards::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: rotate(180deg) translateY(-50%);
}
.title-awards,
.number-awards span{
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Mason Chronicles';
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(215,215,215,0.6);
    text-align: center;
}
.number-awards{
    margin-left: 10px;
}
.container-awards{
    max-height: 180px;
    width: 94%;
}

/*-------------scroll---------*/

/*--------------------------------*/
