/*---------------подключение шрифтов----------------*/

@font-face {
    font-family: 'Mason Chronicles';
    src: url('../fonts/MasonChronicles/MasonChronicles.eot');
    src: url('../fonts/MasonChronicles/MasonChronicles.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MasonChronicles/MasonChronicles.woff2') format('woff2'),
        url('../fonts/MasonChronicles/MasonChronicles.woff') format('woff'),
        url('../fonts/MasonChronicles/MasonChronicles.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PTSansNarrow/PTSans-Narrow.eot');
    src: url('../fonts/PTSansNarrow/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSansNarrow/PTSans-Narrow.woff2') format('woff2'),
        url('../fonts/PTSansNarrow/PTSans-Narrow.woff') format('woff'),
        url('../fonts/PTSansNarrow/PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, input {
    font-family: 'Mason Chronicles'; 
}

p, a , span{
     font-family: 'PT Sans Narrow';
     word-spacing: 2px;
}

/*-------------------wrapper style--------------------------*/

.wrapper-game{
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.container-column{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
}
.wrapper-column{
    width: 32%;
}
.wrapper-left-column{
    width: 29%;
    position: relative;
    right: -20px
}
.profit-wrapper{
    background: url("../images/bg-1.png")no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 18px;
}
.profit-container-right-block img{
    max-width: 330px;
    width: 100%;
}
.profit-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.list-profit{
    display: flex;
    align-items: center;
    align-items: flex-start;
}
.title-item,
.title-rating{
     font-size: 21px;
     color: #f4c66f;
     text-shadow: 0px 0px 0 rgb(195,172,136),
     1px 1px  0 rgb(143,120,84),
     2px 2px 1px rgba(110,77,30,0.36),
     2px 2px 1px rgba(110,77,30,0.5),
     0px 0px 1px rgba(110,77,30,.2);
    margin-bottom: 10px;
}
.item-profit{
    margin: 5px;
}
.header-title-item{
    text-align: center;
    margin-bottom: 15px;
}
.header-title-item span{
    color: #f4eade;
    font-size: 16px;
    word-spacing: 2px;
}
.btn{
    font-size: 18px;
    font-family: 'Mason Chronicles';
    color: #f4c66f;
    text-shadow: 0px 0px 0 rgb(195,172,136),
    1px 1px  0 rgb(143,120,84),
    2px 2px 1px rgba(110,77,30,0.36),
    2px 2px 1px rgba(110,77,30,0.5),
    0px 0px 1px rgba(110,77,30,.2);
    border: none;
}
.btn-profit{
    background: url("../images/dark-bg-btn.png")no-repeat;
    background-size: contain;
    height: 36px;
    width: 123px;
}
.btn-profit:hover{
    background: url("../images/bg-btn.png")no-repeat;
    background-size: contain;
}
.input-profit{
    max-width: 105px;
    margin-top: 7px;
}
.title-rating{
    margin-bottom: 0;
}
.input{
    background: url("../images/input-bg.png")no-repeat;
    background-size: 100% 100%;
    color: #efede0;
    font-size: 18px;
    border: none;
    padding: 7px;
    text-align: center;
}
.wrapper-btn-profit{
    text-align: center;
}
.scale-list{
    display: flex;
    align-items: center;
    position: relative;
}
.scale-list::before{
    content: '';
    position: absolute;
    top: -5px;
    background: url("../images/line-bg.png")repeat-x;
    height: 5px;
    left: 0;
    right: 0;
}
.scale-list::after{
    content: '';
    position: absolute;
    bottom: -5px;
    background: url("../images/line-bg.png")repeat-x;
    height: 5px;
    left: 0;
    right: 0;
}
.scale-item span{
    color: #ffffff;
    font-family: 'Mason Chronicles';
    font-size: 18px;
}
.scale-item{
    padding: 6px 8px;
    border-left: 2px solid #e3d294;
}
.rating-profit{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrapper-rating-container{
    position: relative;
}
.wrapper-rating-container::after{
    content: '';
    position: absolute;
    right: -16px;
    top: -8px;
    bottom: 0;
    background: url("../images/venzel.png")no-repeat;
    width: 34px;
    height: 50px;
    background-size: contain;
}
.draggable-container{
    position: relative;
}
.cursor-draggable{
    position: absolute;
    background: url("../images/slider-icon.png")no-repeat;
    background-size: contain;
    width: 24px;
    height: 20px;
    top: -12px;
    z-index: 10;

}

/*-----------------block potions-------------*/

.potion-wrapper{
    background: url("../images/bg-2.png")no-repeat;
    background-size: cover;
}
.potion-butl{
    max-width: 143px;
    height: 120px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.potion-butl img{
    max-width: 146px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

}
.potion-container{
    padding: 8px;
}
.item-potion{
    max-width: 143px;
    width: 100%;
}
.not-active-butl .active-butl{
    display: none;
}
.not-active-butl{
    position: relative;
}
.not-active-butl:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
.potion-list{
    display: flex;
}
.top-potion-variant{
    position: relative;
}
.top-potion-variant::after{
    content: '';
    position: absolute;
    background: url("../images/border-potion-container.png")repeat-x;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 7px;
}
.active-butl-frame{
    position: absolute;
    left: 114px;
    right: -8px;
    top: -9px;
    bottom: -9px;
    background: url("../images/frame-slider.png")no-repeat;
    background-size: contain;
    max-width: 150px;
    z-index: 100;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
.item-potion{
    position: relative;
}
.suma{
    position: absolute;
    top: 5px;
    right: 23px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 3px;
    width: fit-content;
    -moz-width: -moz-fit-content;
    border-radius: 5px;
}
.suma-potion{
    font-size: 18px;
    font-family: 'Mason Chronicles';
    color: #f2f0e0;
}
.container-potion img{
    max-width: 180px;
    width: 100%;
}
.container-potion{
    max-width: 200px;
    width: 100%;
}
.about-potion{
    display: flex;
    align-items: center;
}
.name-potion,
.title-item-info{
    color: #690016;
    font-family: 'Mason Chronicles';
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
}
.info-text-potion{
    margin-bottom: 10px;
    max-width: 90%;
}
.item-info{
    display: flex;
    align-items: center;
}
.time-porion,
.price-porion,
.info-text-potion{
    font-size: 18px;
    font-weight: 600;
}
.wrapper-list-about-potion{
    padding: 10px;
}

/*---------------block actions-----------*/

.actions-wrapper{
    background: url("../images/bg-3.png")no-repeat;
    background-size: cover;
    padding: 10px;
}
.first-title-action,
.first-title-action span,
.title-action{
    font-size: 26px;
    font-family: 'Mason Chronicles';
    color: #f4c66f;
    text-shadow: 0px 0px 0 rgb(195,172,136), 1px 1px 0 rgb(143,120,84), 2px 2px 1px rgba(110,77,30,0.36), 2px 2px 1px rgba(110,77,30,0.5), 0px 0px 1px rgba(110,77,30,.2);
    text-align: center;
}
.title-action{
    text-transform: uppercase;
    position: relative;
    padding: 0 120px;
}
.title-action::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: rotate(180deg) translateY(-50%);
}
.title-action::before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: translateY(-50%);
}
.first-title-action .result-action,
.first-title-action .result-action span{
    font-size: 20px;
}
.result-action{
    margin-right: 10px;
}
.wrapper-first-title{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: fit-content;
    -moz-width: -moz-fit-content;
    margin-bottom: 10px;
}
.information-btn{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: url("../images/info-icon.png")no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;
}

.header-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-item-action{
    position: relative;
    width: fit-content;
    -moz-width: -moz-fit-content;
    display: flex;
}
.title-counter{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.counter-input{
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border: none;
    padding: 3px;
    width: 67%;
    display: flex;
}
.number-counter{
    background: url("../images/input-bg.png")no-repeat;
    width: 98px;
    height: 35px;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 3px;
}
.btn-counter{
    width: 20px;
    height: 17px;
    display: block;
    cursor: pointer;
}
.plus{
    background: url("../images/input-btn-1.png")no-repeat;
    transform: rotate(180deg);
    background-size: contain;
}
.minus{
    background: url("../images/input-btn-1.png")no-repeat;
    background-size: contain;
}
.plus:focus,
.plus:hover,
.plus:active{
    background: url("../images/input-btn-2.png")no-repeat;
    background-size: contain;
    transform: rotate(0deg);
}
.minus:focus,
.minus:hover,
.minus:active{
    background: url("../images/input-btn-2.png")no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}
.money-span,
.money-span span{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Mason Chronicles';
    margin-top: 5px;
}
.money-span span{
    font-size: 16px;
}
.item-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    -moz-width: -moz-fit-content;
    margin: 8px 19px;
}
.list-action{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.btn-action{
    width: 123px;
    height: 36px;
    background: url(../images/dark-bg-btn.png)no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.86);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.86);
    margin: 0 10px;
}
.btn-action:hover{
    background: url("../images/bg-btn.png")no-repeat;
    background-size: contain;
}
.container-btn-action{
    display: flex;
    justify-content: center;
}
.footer-action p{
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
}
.footer-action{
    max-width: 81%;
    margin: 0 auto;
    margin-top: 10px;
}

/*------------------center block---------------*/

.container-center-column{
    position: relative;
    height: 100%;
}
.container-center-column::before{
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 7px;
    background: url("../images/left-right-center-line.png")repeat-y;
    transform: rotateY(180deg);
}
.container-center-column::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    width: 7px;
    background: url("../images/left-right-center-line.png")repeat-y;
}
.wrapper-center-column{
    position: relative;
}
.wrapper-center-column::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    top: 0;
    background: url("../images/center-bg.png")no-repeat;
    background-size: cover;
}
.wrapper-center-column::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 7px;
    left: 20px;
    right: 20px;
    background: url("../images/line-bg.png")repeat-x;
}
.header-center-block{
    align-items: center;
    background: url("../images/top-center-header.png")no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 25px;
    top: -25px;

}
.first-title-center,
.first-title-center span,
.next-title-center,
.next-title-center span,
.next-title-center span span{
    color: #ffff;
    font-size: 26px;
    font-family: 'Mason Chronicles';
}
.first-title-center{
    margin-right: 10px;
    display: flex;
}
.next-title-center{
    display: flex;
}
.name-player,
.balance{
    white-space: nowrap;
    max-width: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-left: 10px;
}
.balance{
    max-width: 65px;
    margin-right: 10px;
}
.center-hero{
    max-width: 560px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: -10px;
    z-index: 100000;
}
.center-hero::after{
    content: '';
    position: absolute;
    left: -28px;
    right: -28px;
    top: -34px;
    bottom: -28px;
    background: url("../images/center-around.png")no-repeat;
    background-size: contain;
}
.center-hero img{
    width: 100%;
    flex: none;
    margin: 0 auto;
}
.container-image-hero{
    border-radius: 100%;
    overflow: hidden;
}
.wrapper-bottle-info{
    position: relative;
    border-radius: 100%;
    background: url("../images/big-round.png")no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-bottle-img{
    margin: 0 auto;
    position: relative;
}
.container-bottle-img img{
    width: 100%;
    max-width: 55px;
}
.percent{
    color: #ffffff;
    font-family: 'Mason Chronicles';
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}
.bottle-2 img{
    max-width: 62px;
}
.bottle-lis-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.container-center-round{
    position: relative;
}
.container-top-bottle{
    position: absolute;
    top: 0;
    z-index: 100000;
    left: 0;
    right: 0;
}
.bottle-item{
    cursor: pointer;
}
.bottle-position-1{
    position: absolute;
    top: 12px;
    left: 57px;
}
.bottle-position-2{
    position: absolute;
    left: 158px;
    top: -50px;
}
.bottle-position-3{
    position: absolute;
    right: 165px;
    top: -50px;
}
.bottle-position-4{
    position: absolute;
    right: 66px;
    top: 12px;
}
.btn-center{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: none;
}
.settings{
    background: url("../images/settings.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 165px;
    left: 0;
}
.poems{
    background: url("../images/poems.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 165px;
    right: 0;
}
.settings:hover,
.settings:active,
.settings:focus{
    background: url("../images/settings-click.png")no-repeat;
    background-size: contain;
}
.poems:hover,
.poems:active,
.poems:focus{
    background: url("../images/poems-click.png")no-repeat;
    background-size: contain;
}
.container-btn-center{
    position: absolute;
    top: 0;
    z-index: 100000;
    width: 100%;
}
.social-link{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: url("../images/bg-icon-soc.png")no-repeat;
    background-size: contain;
    position: relative;
}
.twitter::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/twitter.png")no-repeat;
    background-size: 60%;
    background-position: center;
}
.telegram::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/telegram.png")no-repeat;
    background-size: 50%;
    background-position: center;
}
.horn::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/telegram-chat.png")no-repeat;
    background-size: 50%;
    background-position: center;
}
.discord::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/discord.png")no-repeat;
    background-size: 54%;
    background-position: center;
}
.facebook::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/facebook.png")no-repeat;
    background-size: 35%;
    background-position: center;
}
.social-list{
    display: flex;
    align-items: center;
}
.container-social{
    position: absolute;
    bottom: 0;
    z-index: 100000;
    width: 100%;
}
.social-position-1{
    position: absolute;
    left: 102px;
    bottom: 42px;
}
.social-position-2{
    position: absolute;
    left: 172px;
    bottom: 3px;
}
.social-position-3{
    position: absolute;
    left: 261px;
    bottom: -12px;
}
.social-position-4{
    position: absolute;
    right: 175px;
    bottom: 5px;
}
.social-position-5{
    position: absolute;
    right: 109px;
    bottom: 45px;
}
.list-awards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}
.item-awards{
    margin: 10px;
}
.item-awards img{
    width: 70px;
}
.wrapper-awards{
    padding: 32px 15px 15px;
    position: relative;
    z-index: 10;
    top: -12px;
}
.wrapper-awards::after{
    content: '';
    position: absolute;
    top: 0;
    height: 7px;
    left: 20px;
    right: 20px;
    background: url("../images/line-bg.png")repeat-x;
}
.header-awards{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 120px;
    width: fit-content;
    -moz-width: -moz-fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
}
.header-awards::before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: translateY(-50%);
}
.header-awards::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: rotate(180deg) translateY(-50%);
}
.title-awards,
.number-awards span{
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Mason Chronicles';
    color: #dbdbdb;
    text-shadow: -1px -1px 1px rgba(215,215,215,0.6), 1px 1px 1px #000;
    text-align: center;
}
.number-awards{
    margin-left: 10px;
}
.container-awards{
    max-height: 180px;
    width: 94%;
}

/*-------------right block---------*/

.wrapper-right-column{
    position: relative;
    left: -20px;
    display: flex;
}

.menu-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 41%;
    position: relative;
}
.menu-link{
    font-size: 28px;
    font-family: 'Mason Chronicles';
    color: #dbdbdb;
    text-shadow: -1px -1px 1px rgba(215,215,215,0.6), 1px 1px 1px #000;
    text-align: center;
    text-decoration: none;
    background: url("../images/menu-btn.png")no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 48px;
    position: relative;
}
.menu-link::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/border-menu-btn.png")no-repeat;
    background-size: cover;
}
.active-btn .menu-link,
.menu-link:hover{
    background: url("../images/active-menu-btn.png")no-repeat;
    background-size: contain;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(255,100,57,1);
    -moz-box-shadow: 0px 0px 27px 0px rgba(255,100,57,1);
    box-shadow: 0px 0px 27px 0px rgba(255,100,57,1);

}
.menu-container{
    background: url("../images/menu-bg.png")no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 15px 0 35px;
}
.menu-container::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 7px;
    left: 0;
    right: 0;
    background: url("../images/line-bg.png")repeat-x;
}
.item-menu{
    padding: 22px 22px;
}
.gildia::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: -41px;
    width: 30px;
    height: 100%;
    background: url("../images/gildia-after.png")no-repeat;
    background-size: contain;
}
.gildia.active-btn::before,
.gildia:hover::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: -41px;
    width: 30px;
    height: 100%;
    background: url("../images/gildia-after-active.png")no-repeat;
    background-size: contain;

}
.about-game::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -41px;
    width: 30px;
    height: 100%;
    background: url("../images/about-game-after.png")no-repeat;
    background-size: contain;
}
.about-game.active-btn::before,
.about-game:hover::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -41px;
    width: 30px;
    height: 100%;
    background: url("../images/about-game-after-active.png")no-repeat;
    background-size: contain;
}
.raiting::before{
    content: '';
    position: absolute;
    right: 9px;
    bottom: -136px;
    width: 23px;
    height: 100%;
    background: url("../images/reiting-after.png")no-repeat;
    background-size: contain;
}
.ivents::before{
    content: '';
    position: absolute;
    left: 9px;
    bottom: -136px;
    width: 23px;
    height: 100%;
    background: url("../images/affects-after.png")no-repeat;
    background-size: contain;
}
.ivents.active-btn::before,
.ivents:hover::before{
    content: '';
    position: absolute;
    left: 9px;
    bottom: -136px;
    width: 23px;
    height: 100%;
    background: url("../images/affects-after-active.png")no-repeat;
    background-size: contain;
}
.raiting.active-btn::before,
.raiting:hover::before{
    content: '';
    position: absolute;
    right: 9px;
    bottom: -136px;
    width: 23px;
    height: 100%;
    background: url("../images/reiting-after-active.png")no-repeat;
    background-size: contain;
}
.progress::before{
    content: '';
    position: absolute;
    right: 16px;
    bottom: -230px;
    width: 23px;
    height: 100%;
    background: url("../images/progress-after.png")no-repeat;
    background-size: contain;
}
.fag-after::before{
    content: '';
    position: absolute;
    left: 16px;
    bottom: -230px;
    width: 23px;
    height: 100%;
    background: url("../images/faq-after.png")no-repeat;
    background-size: contain;
}
.fag-after.active-btn::before,
.fag-after:hover::before{
    content: '';
    position: absolute;
    left: 16px;
    right: inherit;
    bottom: -230px;
    width: 23px;
    height: 100%;
    background: url("../images/faq-after-active.png")no-repeat;
    background-size: contain;
}
.progress.active-btn::before,
.progress:hover::before{
    content: '';
    position: absolute;
    right: 16px;
    bottom: -230px;
    width: 23px;
    height: 100%;
    background: url("../images/progress-after-active.png")no-repeat;
    background-size: contain;
}
.gildia,
.raiting,
.progress{
    padding-left: 0;
}
.about-game,
.gildia,
.fag-after{
     padding-right: 0;
}
.container-link{
    background: url("../images/bg-4.png")no-repeat;
    background-size: cover;
    position: relative;
    padding: 10px 0 15px;
}
.container-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 7px;
    left: 0;
    right:0;
    background: url("../images/line-bg.png")repeat-x;
}
.title-link{
    font-size: 28px;
    font-family: 'Mason Chronicles';
    color: #dbdbdb;
    text-shadow: -1px -1px 1px rgba(215,215,215,0.6), 1px 1px 1px #000;
    text-align: center;
    margin-bottom: 15px;
}
.container-input-link{
    background-color: #161315;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.container-input-link input{
    background-color: transparent;
    border: none;
    color: #464445;
    padding: 10px 15px;
    font-family: 'PT Sans Narrow';
    font-size: 19px;
    width: 57%;
}
.copy-btn{
    background: url(../images/dark-bg-btn.png)no-repeat;
    background-size: 100% 100%;
    height: 45px;
    width: 135px;
}
.copy-btn:hover{
    background: url("../images/bg-btn.png")no-repeat;
    background-size: 100% 100%;
}
.info-link{
    color: #ffffff;
    font-size: 21px;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 79%;
    margin-top: 15px;
}
.wrapper-content-gildia{
    position: relative;
}
.container-potion-choice{
    background: url("../images/bg-percent.png")no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 5px 0 12px;
}
.container-potion-choice::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 7px;
    left: 0;
    right: 0;
    background: url("../images/line-bg.png")repeat-x;
}
.percent-choice{
    color: #ffffff;
    font-size: 21px;
}
.container-choice-potion img{
    width: 100%;
}
.container-choice-potion{
    max-width: 80px;
    margin-right: 10px;
}
.item-choice{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.choice-list{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.list-header-gildia{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.list-header-gildia li{
    font-size: 21px;
    font-family: 'Mason Chronicles';
    color: #f4c66f;
    text-shadow: 0px 0px 0 rgb(195,172,136), 1px 1px 0 rgb(143,120,84), 2px 2px 1px rgba(110,77,30,0.36), 2px 2px 1px rgba(110,77,30,0.5), 0px 0px 1px rgba(110,77,30,.2);
    text-align: left;
    padding: 20px 0px;
}
.container-ivent-table{
    background: url("../images/bg-5.png")no-repeat;
    background-size: cover;
    position: relative;
}
.container-ivent-table::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 7px;
    left: 0;
    right: 0;
    background: url("../images/line-bg.png")repeat-x;
}
.info-table span{
    color: #ffffff;
    font-family: 'PT Sans Narrow';
    font-size: 21px;
    opacity: 0.5;
    text-align: right;
}
.container-icon-table{
    width: 25px;
    height: 25px;
    background-color: #424242;
    border-radius: 100%;
}
.container-icon-table img{
    width: 100%;
}
.table-ivent{
    width: 100%;
}
.list-table-ivent li{
    padding: 5px 5px 5px 20px;
}
.header-table-gildia{
    position: relative;
}
.header-table-gildia::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 7px;
    left: 0;
    right: 0;
    background: url("../images/line-bg.png")repeat-x;
}
.list-table-ivent{
    display: flex;
    flex-direction: column;
}
.list-table-ivent li{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.table-iven .slimScrollDiv{
    width: 87% !important;
    padding: 10px 20px 7px;
}
.container-ivent-table .slimScrollRail{
    height: 86% !important;
    top: 14px !important;
}
.header-raiting h3{
    font-size: 21px;
    font-family: 'Mason Chronicles';
    color: #ffffff;
    text-align: center;
    position: relative;
    width: 57%;
    margin: 0 auto;
    padding: 0 52px;
}
.header-raiting h3::before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 87px;
    transform: translateY(-50%);
}
.header-raiting h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 87px;
    transform: rotate(180deg) translateY(-50%);
}
.header-raiting{
    background: rgba(0,0,0,0.3);
    padding: 15px 0;
}
.wrapper-content-raiting{
    background: url("../images/bg-6.png")no-repeat;
    background-size: cover;
    flex: 1;
}
.item-raiting{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon-raiting{
    width: 40px;
}
.icon-raiting img{
    width: 100%;
}
.item-block span{
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
}
.table-raiting{
    padding: 10px 0 20px;
    padding-right: 30px;
}
.table-raiting .slimScrollDiv{
     min-height: 365px;
}
.item-raiting{
    margin-bottom: 10px;
}
.item-raiting:last-child{
    margin-bottom: 0;
}
.container-body-raiting{
    position: relative;
}
.container-body-raiting::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 7px;
    left: 0;
    right: 0;
    background: url("../images/line-bg.png")repeat-x;
}
.item-block{
    min-width: 52px;
}
.footer-raiting{
    padding: 5px 0;
    padding-right: 30px;
}
.list-table-raiting{
    height: 100% !important;
}
.title-progress-block{
    font-size: 21px;
    color: #f4c66f;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    text-shadow: 0px 0px 0 rgb(195,172,136), 1px 1px 0 rgb(143,120,84), 2px 2px 1px rgba(110,77,30,0.36), 2px 2px 1px rgba(110,77,30,0.5), 0px 0px 1px rgba(110,77,30,.2);
}
.wrapper-content-progress{
    background: url("../images/bg-7.png")no-repeat;
    background-size: cover;
    padding: 15px 25px 15px 0;
    flex: 1;
}
.position-number{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
}
.position-number span{
    color: #ffffff;
    font-size: 21px;
    font-family: 'Mason Chronicles';
}
.first-number,
.second-number,
.three-number,
.four-number{
    background: url("../images/number-1.png")no-repeat;
    background-size: contain;
    flex: none;
}
.second-number{
    background: url("../images/number-2.png")no-repeat;
    background-size: contain;
}
.three-number{
    background: url("../images/number-3.png")no-repeat;
    background-size: contain;
}
.four-number{
    background: url("../images/number-4.png")no-repeat;
    background-size: contain;
}
.green-progress{
    background: url("../images/die-1.png")no-repeat;
    background-size: 100% 100%;
}
.red-progress{
    background: url("../images/die-2.png")no-repeat;
    background-size: 100% 100%;
}
.blue-progress{
    background: url("../images/die-3.png")no-repeat;
    background-size: 100% 100%;
}
.pink-progress{
    background: url("../images/die-4.png")no-repeat;
    background-size: 100% 100%;
}
.progress-line{
    position: relative;
    height: 20px;
    border-radius: 5px;
    width: 100%;
}
.green-progress .line,
.apgrade-green-progress .line{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    position: absolute;
    background: -moz-linear-gradient(left, rgba(51,129,30,1) 0%, rgba(228,253,126,1) 34%, rgba(228,253,126,1) 53%, rgba(228,253,126,1) 70%, rgba(51,129,30,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,129,30,1)), color-stop(34%, rgba(228,253,126,1)), color-stop(53%, rgba(228,253,126,1)), color-stop(70%, rgba(228,253,126,1)), color-stop(100%, rgba(51,129,30,1)));
    background: -webkit-linear-gradient(left, rgba(51,129,30,1) 0%, rgba(228,253,126,1) 34%, rgba(228,253,126,1) 53%, rgba(228,253,126,1) 70%, rgba(51,129,30,1) 100%);
    background: -o-linear-gradient(left, rgba(51,129,30,1) 0%, rgba(228,253,126,1) 34%, rgba(228,253,126,1) 53%, rgba(228,253,126,1) 70%, rgba(51,129,30,1) 100%);
    background: -ms-linear-gradient(left, rgba(51,129,30,1) 0%, rgba(228,253,126,1) 34%, rgba(228,253,126,1) 53%, rgba(228,253,126,1) 70%, rgba(51,129,30,1) 100%);
    background: linear-gradient(to right, rgba(51,129,30,1) 0%, rgba(228,253,126,1) 34%, rgba(228,253,126,1) 53%, rgba(228,253,126,1) 70%, rgba(51,129,30,1) 100%);
}
.apgrade-green-progress .line{
    right: 50%;
}
.red-progress .line,
.apgrade-red-progress .line{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    position: absolute;
    background: -moz-linear-gradient(left, rgba(187,32,37,1) 0%, rgba(251,169,147,1) 26%, rgba(255,189,154,1) 53%, rgba(251,169,147,1) 75%, rgba(187,32,37,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(187,32,37,1)), color-stop(26%, rgba(251,169,147,1)), color-stop(53%, rgba(255,189,154,1)), color-stop(75%, rgba(251,169,147,1)), color-stop(100%, rgba(187,32,37,1)));
    background: -webkit-linear-gradient(left, rgba(187,32,37,1) 0%, rgba(251,169,147,1) 26%, rgba(255,189,154,1) 53%, rgba(251,169,147,1) 75%, rgba(187,32,37,1) 100%);
    background: -o-linear-gradient(left, rgba(187,32,37,1) 0%, rgba(251,169,147,1) 26%, rgba(255,189,154,1) 53%, rgba(251,169,147,1) 75%, rgba(187,32,37,1) 100%);
    background: -ms-linear-gradient(left, rgba(187,32,37,1) 0%, rgba(251,169,147,1) 26%, rgba(255,189,154,1) 53%, rgba(251,169,147,1) 75%, rgba(187,32,37,1) 100%);
    background: linear-gradient(to right, rgba(187,32,37,1) 0%, rgba(251,169,147,1) 26%, rgba(255,189,154,1) 53%, rgba(251,169,147,1) 75%, rgba(187,32,37,1) 100%);
}
.apgrade-red-progress .line{
    right: 95%;
}
.blue-progress .line,
.apgrade-blue-progress .line{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    position: absolute;
    background: -moz-linear-gradient(left, rgba(32,56,176,1) 0%, rgba(133,177,252,1) 26%, rgba(176,214,253,1) 53%, rgba(133,177,252,1) 76%, rgba(32,56,176,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,56,176,1)), color-stop(26%, rgba(133,177,252,1)), color-stop(53%, rgba(176,214,253,1)), color-stop(76%, rgba(133,177,252,1)), color-stop(100%, rgba(32,56,176,1)));
    background: -webkit-linear-gradient(left, rgba(32,56,176,1) 0%, rgba(133,177,252,1) 26%, rgba(176,214,253,1) 53%, rgba(133,177,252,1) 76%, rgba(32,56,176,1) 100%);
    background: -o-linear-gradient(left, rgba(32,56,176,1) 0%, rgba(133,177,252,1) 26%, rgba(176,214,253,1) 53%, rgba(133,177,252,1) 76%, rgba(32,56,176,1) 100%);
    background: -ms-linear-gradient(left, rgba(32,56,176,1) 0%, rgba(133,177,252,1) 26%, rgba(176,214,253,1) 53%, rgba(133,177,252,1) 76%, rgba(32,56,176,1) 100%);
    background: linear-gradient(to right, rgba(32,56,176,1) 0%, rgba(133,177,252,1) 26%, rgba(176,214,253,1) 53%, rgba(133,177,252,1) 76%, rgba(32,56,176,1) 100%);
}
.apgrade-blue-progress .line {
    right: 5%;
}
.pink-progress .line,
.apgrade-pink-progress .line{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    position: absolute;
    background: -moz-linear-gradient(left, rgba(157,26,232,1) 0%, rgba(224,100,255,1) 26%, rgba(217,160,255,1) 53%, rgba(224,100,255,1) 76%, rgba(157,26,232,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(157,26,232,1)), color-stop(26%, rgba(224,100,255,1)), color-stop(53%, rgba(217,160,255,1)), color-stop(76%, rgba(224,100,255,1)), color-stop(100%, rgba(157,26,232,1)));
    background: -webkit-linear-gradient(left, rgba(157,26,232,1) 0%, rgba(224,100,255,1) 26%, rgba(217,160,255,1) 53%, rgba(224,100,255,1) 76%, rgba(157,26,232,1) 100%);
    background: -o-linear-gradient(left, rgba(157,26,232,1) 0%, rgba(224,100,255,1) 26%, rgba(217,160,255,1) 53%, rgba(224,100,255,1) 76%, rgba(157,26,232,1) 100%);
    background: -ms-linear-gradient(left, rgba(157,26,232,1) 0%, rgba(224,100,255,1) 26%, rgba(217,160,255,1) 53%, rgba(224,100,255,1) 76%, rgba(157,26,232,1) 100%);
    background: linear-gradient(to right, rgba(157,26,232,1) 0%, rgba(224,100,255,1) 26%, rgba(217,160,255,1) 53%, rgba(224,100,255,1) 76%, rgba(157,26,232,1) 100%);
}
.apgrade-pink-progress .line{
    right: 40%;
}
.green-progress .line::before,
.apgrade-green-progress .line::before{
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(134,225,68,0.83);
    -moz-box-shadow: 0px 0px 24px 0px rgba(134,225,68,0.83);
    box-shadow: 0px 0px 24px 0px rgba(134,225,68,0.83);
    height: 20px;
    width: 100%;
    display: block;
}
.red-progress .line::before,
.apgrade-red-progress .line::before{
     content: '';
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     border-radius: 5px;
     -webkit-box-shadow: 0px 0px 24px 0px rgba(252,73,76,0.7);
     -moz-box-shadow: 0px 0px 24px 0px rgba(252,73,76,0.7);
     box-shadow: 0px 0px 24px 0px rgba(252,73,76,0.7);
     height: 20px;
     width: 100%;
     display: block;
 }
.blue-progress .line::before,
.apgrade-blue-progress .line::before{
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(91,129,254,1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(91,129,254,1);
    box-shadow: 0px 0px 24px 0px rgba(91,129,254,1);
    height: 20px;
    width: 100%;
    display: block;
}
.pink-progress .line::before,
.apgrade-pink-progress .line::before{
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(209,81,255,1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(209,81,255,1);
    box-shadow: 0px 0px 24px 0px rgba(209,81,255,1);
    height: 20px;
    width: 100%;
    display: block;
}
.progress-line::before{
    content: '';
    position: absolute;
    left: -6px;
    top: -6px;
    bottom: -6px;
    right: -6px;
    background: url("../images/progress-frame.png")no-repeat;
    background-size: 100% 100%;
}
.item-progress{
    display: flex;
    align-items: center;
    padding: 2px 15px 0;
}
.progress-block{
    width: 65%;
    position: relative;
    padding-left: 60px;
}
.green-progress .progress-block::after,
.apgrade-green-progress .progress-block::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: url("../images/btn--no-light.png")no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.apgrade-green-progress .progress-block::after{
    background: url("../images/btn-light.png")no-repeat;
    background-size: contain;
}
.red-progress .progress-block::after,
.apgrade-red-progress .progress-block::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: url("../images/btn--no-light-2.png")no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.apgrade-red-progress .progress-block::after{
    background: url("../images/btn-light-2.png")no-repeat;
    background-size: contain;
}

.blue-progress .progress-block::after,
.apgrade-blue-progress .progress-block::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: url("../images/btn--no-light-3.png")no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.apgrade-blue-progress .progress-block::after{
    background: url("../images/btn-light-3.png")no-repeat;
    background-size: contain;
}
.pink-progress .progress-block::after,
.apgrade-pink-progress .progress-block::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: url("../images/btn--no-light-4.png")no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.apgrade-pink-progress .progress-block::after{
    background: url("../images/btn-light-4.png")no-repeat;
    background-size: contain;
}
.container-right-column{
    display: flex;
    flex-direction: column;
}
.content-right-block{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.list-progress{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 20px;
    margin-bottom: 5px;
}
.progress-line-wrapper{
    display: flex;
    position: relative;
    padding: 25px 0;
    margin-right: 15px;
}
.progress-line-wrapper span{
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    font-family: 'Mason Chronicles';
}
.count-number{
    top: 0;
    left: 5px;
}
.count-percent{
    top: 0;
    right: 5px;
}
.readiness{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background: url("../images/mix-btn.png")no-repeat;
    background-size: contain;
    cursor: pointer;
}
.readiness:hover{
    background: url("../images/mix-btn-navedenie.png")no-repeat;
    background-size: contain;
}
.active-readiness{
    background: url("../images/mix-btn-navedenie.png")no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(148,137,22,1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(148,137,22,1);
    box-shadow: 0px 0px 12px 0px rgba(148,137,22,1);
}
.container-progress-block{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.top-progress-block{
    flex: 1;
}
.progress-info-content{
    height: 100% !important;
}
.progress-info-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.top-progress-block .slimScrollDiv{
    min-height: 460px;
}
.wrapper-content-events{
    background: url("../images/bg-8.png")no-repeat;
    background-size: cover;
    padding: 15px 25px 15px 0;
    flex: 1;
}
.title-events{
    color: #dbdbdb;
    font-size: 18px;
    margin-bottom: 10px;
    text-shadow: -1px -1px 1px rgba(215,215,215,0.6), 1px 1px 1px #000;
}
.title-events-list{
    display: flex;
    justify-content: space-evenly;
    width: 83%;
    margin: 0 auto;
}
.container-count-events{
    padding: 10px 15px;
    max-width: 203px;
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-count-events::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/bg-form.png")no-repeat;
    background-size: cover;
}
.container-count-events span{
    font-size: 19px;
    font-family: 'Mason Chronicles';
    color: #ffffff;
    position: relative;
    text-align: center;
}
.title-events-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.withdrawn .container-count-events:before{
    transform: scale(-1, 1);
}
.header-events{
    margin-bottom: 15px;
}
.header-table tr th{
    color: #ffffff;
    font-size: 16px;
    font-family: 'PT Sans Narrow';
    text-align: left;
    padding: 10px;
}
.body-table-events tr td{
    padding: 10px;
}
.table-events thead, .table-events tbody {
    display: flex;
    flex-direction: column;
}
.header-table tr,
.body-table-events  tr{
    display: flex;
    justify-content: space-around;
}
.table-events{
    width: 100%;
}
.body-table-events{
    background: rgba(0,0,0,0.3);
    height: 100% !important;
}
.container-table-events .slimScrollDiv{
    min-height: 360px;
}
.info-event{
    font-size: 14px;
    color: #a6aba7;
}
.green span{
    color: #3bc75e;
}
.red span{
    color: #ff161c;
}

/*--------------------------------*/

/*---------------about game-----------------*/

.btn-contact-game span{
    color: #dbdbdb;
    text-shadow: -1px -1px 1px rgba(215,215,215,0.6), 1px 1px 1px #000;
    text-align: center;
    font-size: 18px;
    padding-left: 30px;
    position: relative;
}
.audit span:after,
.smartcontract span:after{
    content: '';
    position: absolute;
    left: 0;
    background: url("../images/search.png")no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    top: -4px;
}
.smartcontract span:after{
    background: url("../images/smart.png")no-repeat;
    background-size: contain;
}
.wrapper-content-about-game{
    background: url("../images/bg-10.jpg")no-repeat;
    background-size: cover;
    padding: 15px 25px 15px 0;
    flex: 1;
}
.title-about-game{
    text-transform: uppercase;
    position: relative;
    padding: 0 120px;
    font-size: 26px;
    font-family: 'Mason Chronicles';
    color: #f4c66f;
    text-shadow: 0px 0px 0 rgb(195,172,136), 1px 1px 0 rgb(143,120,84), 2px 2px 1px rgba(110,77,30,0.36), 2px 2px 1px rgba(110,77,30,0.5), 0px 0px 1px rgba(110,77,30,.2);
    text-align: center;
    width: fit-content;
    -moz-width: -moz-fit-content;
    margin: 0 auto;
}
.title-about-game::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: translateY(-50%);
}
.title-about-game::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    background: url("../images/line.png")no-repeat;
    background-size: contain;
    height: 6px;
    width: 110px;
    transform: rotate(180deg) translateY(-50%);
}
.item-about-game p{
    color: #ffffff;
    font-size: 17px;
    line-height: normal;
}
.list-about-game{
    max-width: 70%;
    margin: 0 auto;
}
.item-about-game{
    padding: 17px 0;
    text-align: center;
    position: relative;
}
.item-about-game::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: url("../images/line-big.png")no-repeat;
    background-size: contain;
    background-position: center;
}
.item-about-game:last-child::before{
    display: none;
}
.item-about-game:first-child{
    padding-top: 10px;
}
.container-info-about-game .slimScrollDiv{
    min-height: 425px;
}
.list-about-game.scroll-custom{
    height: 100% !important;
}
.btn-contact-game{
    width: 160px;
    height: 47px;
    background: url("../images/dark-bg-btn.png")no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.86);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.86);
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.btn-contact-game::before{
    content: '';
    position: absolute;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -1px;
    background: url("../images/btn-frame.png")no-repeat;
    background-size: cover;
}
.btn-contact-game:hover{
    background: url("../images/bg-btn.png")no-repeat;
    background-size: contain
}
.footer-about-game{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.header-faq h3{
    font-size: 21px;
    font-family: 'Mason Chronicles';
    color: #f4c66f;
    text-shadow: 0px 0px 0 rgb(195,172,136), 1px 1px 0 rgb(143,120,84), 2px 2px 1px rgba(110,77,30,0.36), 2px 2px 1px rgba(110,77,30,0.5), 0px 0px 1px rgba(110,77,30,.2);
}
.header-faq{
    padding: 15px 25px;
    position: relative;
    padding-right: 30px;
    width: fit-content;
    cursor: pointer;
}
.header-faq::before{
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 12px;
    background: url("../images/arrow.png")no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
}
.active-arrow::before{
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 12px;
    background: url("../images/arrow.png")no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}
.container-answer{
    background: rgba(0,0,0,0.4);
    padding: 15px 25px;
    display: none;
}
.container-answer p{
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
}
.wrapper-content-faq{
    background: url("../images/bg-9.jpg")no-repeat;
    background-size: cover;
    padding: 15px 25px 15px 0;
    flex: 1;
}
.container-faq-list .slimScrollDiv{
    min-height: 495px;
}
.list-faq{
    height: 100% !important;
}
.right-info-block{
    display: none;
}
.active-block{
    display: block;
}
/*--------------------------------*/

/*-------------tooltip-------------------*/
.tooltip{
    position: relative;
    z-index: 1000000;
}
.tippy-tooltip,
.tooltipe{
    min-width: 120px;
    background: url("../images/bg-popup.jpg")no-repeat;
    background-size: cover;
    padding: 15px 10px;
    opacity: 0.9;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(92,90,92,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(92,90,92,1);
    box-shadow: 0px 0px 5px 0px rgba(92,90,92,1);
}
.tooltipe{
    position: absolute;
    bottom: 49px;
    right: -140px;
    display: none;
}
.tooltipe p,
.tippy-content {
    color: #ffffff;
    font-size: 16px;
    line-height: normal;
    font-family: 'PT Sans Narrow';
}
.tooltipe p{
    text-align: center;
}
.tippy-arrow{
    display: none;
}
/*--------------------------------*/
